In [1]:
import pandas as pd

In [2]:
SOURCES = './_output/sources.csv'
SOURCES_CLEAN = './_output/sources_clean.csv'

In [3]:
df_sources = pd.read_csv(SOURCES)

In [4]:
df_sources.head()

,id,corporation,infodate,texte
0,304754,2100,31/12/1912,Répartition des bénéfices : effectuée suivant ...
1,304770,148,31/12/1912,Répartition des bénéfices : effectuée suivant ...
2,304789,436,31/12/1912,Répartition des bénéfices : effectuée suivant ...
3,304815,3246,31/12/1912,Répartition des bénéfices : 5 % d'intérêt aux ...
4,304830,3524,31/12/1912,Répartition des bénéfices : 20 % à la réserve ...

In [5]:
df_sources.set_index('id', inplace=True)
df_sources.head()

,corporation,infodate,texte
id,,,
304754,2100,31/12/1912,Répartition des bénéfices : effectuée suivant ...
304770,148,31/12/1912,Répartition des bénéfices : effectuée suivant ...
304789,436,31/12/1912,Répartition des bénéfices : effectuée suivant ...
304815,3246,31/12/1912,Répartition des bénéfices : 5 % d'intérêt aux ...
304830,3524,31/12/1912,Répartition des bénéfices : 20 % à la réserve ...

In [6]:
def cleanDate(date):
    l = date.split('/')
    if(len(l)==3):
        return '{}-{}-{}'.format(l[2], l[1], l[0])
    else:
        return '2019-01-01' # deux observations n'ont pas de dates

In [7]:
df_sources['infodate'] = df_sources.apply(lambda row: cleanDate(str(row.infodate)), axis=1)

In [8]:
df_sources.head()

,corporation,infodate,texte
id,,,
304754,2100,1912-12-31,Répartition des bénéfices : effectuée suivant ...
304770,148,1912-12-31,Répartition des bénéfices : effectuée suivant ...
304789,436,1912-12-31,Répartition des bénéfices : effectuée suivant ...
304815,3246,1912-12-31,Répartition des bénéfices : 5 % d'intérêt aux ...
304830,3524,1912-12-31,Répartition des bénéfices : 20 % à la réserve ...

In [9]:
df_sources.to_csv(SOURCES_CLEAN])